
@media all and (max-width:1300px){
    .kolona{
        width: 90%;
    }
    .page{
        background: none;
    }
}


/* ************************************************************ */



@media all and (max-width:510px){
    .kolona{
        width: 90%;
    }
    #social a img{
        width: 25px;
        margin: 10px 3px;
    }
    #logo img{
        width: 60px;
    }
    #main-manu div{
        font-size: 15px;
    }
    #main-manu div img{
        width: 15px;
    }
    #pocetna .textdiv{
        padding-top: 25vh;
        font-size: 40px;
        margin-left: 10vh;
    }
    /* ******* */
    #accordion > h3 {
        font-size: 15px;
    }
    #accordion > div > p {
        font-size: 12px;
    }
    ul > li {
        font-size: 12px;
    }
    #map{
        height: 250px;
    }
}

@media all and (max-width:400px){
    #main-manu div{
        font-size: 12px;
    }
    #main-manu div img{
        width: 11px;
    }
}

@media all and (max-width:320px){
    #main-manu div img{
        width: 10px;
    }
    #main-manu  > div > a{
        padding: 5px;
    }
    #social a img{
        width: 15px;
        margin: 10px 3px;
    }
    #logo img{
        width: 45px;
    }
}