/* *************************************************************************************************** */
                                                 /* UOPSTENO  */

/* *************************************************************************************************** */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Amatic SC';
}
.page{
    background-image: url(../slike/Pozadine/pcelice.png);
    background-size: 15%;
}
.kolona{
    width: 70%;
    margin: 0px auto;
  
}

/* *************************************************************************************************** */
                                                /* HEADER  */
/* *************************************************************************************************** */
#logo-i-social{
    display: flex;
}
#logo{
    flex-grow: 1;
    align-items: center;
}
#logo img{
    width: 80px;
}
#social{
    flex-grow: 1;
    text-align: right;
}
#social a{
    text-decoration: none;
}
#social a img{
    width: 30px;
    margin: 10px 5px;
}




/* *************************************************************************************************** */
                                                    /* HEADER  */
/* *************************************************************************************************** */

#main-manu{
    display: flex;
    font-size: 22px;
}
#main-manu div img{
    width: 22px;
}
#main-manu > div{
    flex-grow: 1;
    position: relative;
    background-color: rgb(191, 132, 5);
}
#main-manu  > div > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(191, 132, 5);
    transition: 300ms;
    padding: 10px;
}

#main-manu > div > a:hover{
    background-color:   rgb(255, 212, 118);
    color: rgb(191, 132, 5);
}
#main-manu > div > div > a{
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0px;
}
#main-manu > div > div{
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(191, 132, 5);
}
#main-manu > div > div > a:hover{
    background-color: rgb(255, 212, 118);
    color: rgb(191, 132, 5);
}
#main-manu > div:hover > div{
    display: block;
}
#main-manu > div > .aktivan{
    background-color: rgb(169, 116, 3);
}

/* *************************************************************************************************** */
                                            /* STRANA  */
/* *************************************************************************************************** */

.page .kolona{
    height: 800px;
    font-weight: bold;
    background-color: white;
    padding: 0px 10px;
}

#zanimljivo {
    display: flex;
}
#zanimljivo > div{
    flex-grow: 1;
    height: 300px;
    text-align: center;
}

#zanimljivo > div > img{
    width: 200px;
    margin: 0px auto;
}
#med>img{
    padding: 0px auto;
}
#zanimljivo > div > a{
    display: block;
    padding: 5px 0px;
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}

#dugme1, #dugme2, #dugme3, #dugme4{
    display: block;
    padding: 5px 0px;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 14px;
    width: 190px;
    margin: 0px auto;
}


#zanimljivo > div > p{
    text-align: center;
    width: 100%;
    font-size: 16px;
}
    